{% extends "layout.html" %}

{% block title %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/About.css')}}" media="screen"> -->
<link rel="stylesheet" href="./../static/css/nice.css" media="screen">
<link rel="stylesheet" href="./../static/css/home.css" media="screen">
<script class="u-script" type="text/javascript" src="./../static/js/jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="./../static/js/nicepage.js" defer=""></script>
<link rel="shortcut icon" href="./../static/icon/icon.svg" />
<title>Modelamiento y Simulacion &#10036;</title>
{% endblock %}

{% block content %}

<!-- <section class="u-clearfix u-image u-section-1" id="carousel_1bf9" data-image-width="1980" data-image-height="1193">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-left u-container-style u-layout-cell u-left-cell u-size-23-xl u-size-26-lg u-size-26-md u-size-26-sm u-size-26-xs u-layout-cell-1">
            <div class="u-container-layout u-valign-top-xs u-container-layout-1">
              <h5 class="u-custom-font u-font-pt-sans u-text u-text-grey-5 u-text-1">&nbsp;MODELAMIENTO Y&nbsp; &nbsp;
                &nbsp; &nbsp;SIMULACIÓN</h5>
              <h1 class="u-custom-font u-font-raleway u-text u-text-grey-5 u-text-2"> &nbsp;<span
                  style="font-size: 2.25rem;">Bienvenidos</span>
                <span style="font-size: 2.25rem;">al<br>&nbsp;sis​tema&nbsp;&nbsp;
                </span>
                <br>
              </h1>
              <p class="u-text u-text-grey-5 u-text-3"> El uso de&nbsp;<b>Modelado y Simulación</b>&nbsp;Computacional
                permite estudiar la naturaleza o los sistemas de las ingenierías apoyados en tecnologías de la
                información y las comunicaciones
              </p>
              <a href="/metodos"
                class="u-active-palette-2-light-1 u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-pt-sans u-hover-palette-2-light-1 u-palette-5-dark-3 u-radius-0 u-text-active-white u-text-hover-white u-text-palette-5-light-2 u-btn-1">read
                more</a>
            </div>
          </div>
          <div
            class="u-container-style u-image u-layout-cell u-right-cell u-shape-rectangle u-size-34-lg u-size-34-md u-size-34-sm u-size-34-xs u-size-37-xl u-image-1"
            data-image-width="512" data-image-height="512">
            <div class="u-container-layout u-container-layout-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <section class="u-align-center u-clearfix u-section-2" id="carousel_79c3">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h6 class="u-text u-text-default u-text-1">Modulos</h6>
    <h1 class="u-align-center u-text u-text-palette-1-base u-text-2">Acontinuacion estaran disponibles las siguientes
      secciones&nbsp;<br>
    </h1>
    <p class="u-text u-text-3">Elija cualquira que requiera, cada seccion contara con sus correspondientes metodos.</p>
    <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-custom-item u-list-item u-palette-2-light-2 u-radius-20 u-repeater-item u-shape-round u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <div alt="" class="u-image u-image-circle u-image-1" data-image-width="800" data-image-height="317"
              data-href="numerosaleatorios" data-target="_blank"></div>
            <p class="u-align-center-xs u-text u-text-grey-70 u-text-4"><span class="u-icon u-icon-1"><svg
                  class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z">
                      </path>
                      <path
                        d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>&nbsp; ​Los&nbsp;<b>números aleatorios</b>&nbsp;permiten a los modelos matemáticos
              representar la realidad. ... Para lograr una mejor aproximación a la realidad nuestra herramienta
              predictiva debe funcionar de manera similar: aleatoriamente. De esa necesidad surgieron los modelos de
              simulación.&nbsp;&nbsp;<span class="u-icon u-icon-2"><svg class="u-svg-content"
                  viewBox="0 0 98.829 98.829" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262    c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459    l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506    C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834    c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                      </path>
                      <path
                        d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902    c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004    c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506    C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834    c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>
            </p>
            <h6 class="u-text u-text-5">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                href="numerosaleatorios" target="_blank">Números&nbsp;<br>Aleatorios
              </a>
            </h6>
          </div>
        </div>
        <div
          class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-custom-item u-list-item u-palette-3-light-2 u-radius-20 u-repeater-item u-shape-round u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="720"
              data-href="modelospronosticos"></div>
            <p class="u-align-center-xs u-text u-text-grey-70 u-text-6"><span class="u-icon u-icon-3"><svg
                  class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z">
                      </path>
                      <path
                        d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>&nbsp;​El&nbsp;<b>pronóstico</b>&nbsp;es el proceso&nbsp;<b>de</b>&nbsp;estimación en
              situaciones&nbsp;<b>de</b>&nbsp;incertidumbre. El término predicción es similar, pero más general, y
              usualmente se refiere a la&nbsp; estimación&nbsp;<b>de</b>&nbsp;series temporales o datos instantáneos.
              ... Este se utilizan&nbsp;<b>para</b>&nbsp;estimar planes&nbsp;<b>de</b>&nbsp;ventas, producción,
              flujos&nbsp;<b>de</b>&nbsp;efectivo y elaboración&nbsp;<b>de</b>&nbsp;presupuestos.&nbsp;&nbsp;<span
                class="u-icon u-icon-4"><svg class="u-svg-content" viewBox="0 0 98.829 98.829" x="0px" y="0px"
                  style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262    c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459    l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506    C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834    c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                      </path>
                      <path
                        d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902    c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004    c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506    C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834    c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                      </path>
                    </g>
                  </g>                 
                </svg>  <img></span>
            </p>
            <h6 class="u-text u-text-7">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                href="modelospronosticos" target="_blank">Modelos&nbsp;de <br>Pronósticos</a>
            </h6>
          </div>
        </div>
        <div
          class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-custom-item u-list-item u-palette-4-light-2 u-radius-20 u-repeater-item u-shape-round u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <div alt="" class="u-image u-image-circle u-image-3" data-image-width="268" data-image-height="188"
              data-href="regresiones" data-target="_blank"></div>
            <p class="u-align-center-xs u-text u-text-grey-70 u-text-8"><span class="u-icon u-icon-5"><svg
                  class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z">
                      </path>
                      <path
                        d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>&nbsp;​El análisis de la&nbsp;<b>regresión</b>&nbsp;lineal se
              utiliza&nbsp;<b>para</b>&nbsp;predecir el valor de una variable según el valor de otra. La variable que
              desea predecir se denomina variable dependiente. La variable que está
              utilizando&nbsp;<b>para</b>&nbsp;predecir el valor de la otra variable se denomina variable
              independiente.&nbsp;&nbsp;<span class="u-icon u-icon-6"><svg class="u-svg-content"
                  viewBox="0 0 98.829 98.829" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262    c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459    l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506    C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834    c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                      </path>
                      <path
                        d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902    c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004    c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506    C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834    c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>
            </p>
            <h6 class="u-text u-text-9">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                href="regresiones" target="_blank">Regresiones</a>
            </h6>
          </div>
        </div>
        <div
          class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-container-style u-custom-item u-list-item u-palette-5-base u-radius-20 u-repeater-item u-shape-round u-list-item-4">
          <div class="u-container-layout u-similar-container u-container-layout-4">
            <div alt="" class="u-image u-image-circle u-image-4" data-image-width="1024" data-image-height="435"
              data-href="modelossimulacion" data-target="_blank"></div>
            <p class="u-align-center-xs u-text u-text-grey-70 u-text-10"><span class="u-icon u-icon-7"><svg
                  class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z">
                      </path>
                      <path
                        d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>&nbsp;​Puede definirse a la&nbsp;<b>simulación</b>&nbsp;como la experimentación con un
              modelo que imita ciertos aspectos de la realidad. ... A nivel económico y financiero, tendríamos que
              destacar otros tipos de simuladores. Así, por&nbsp;<b>ejemplo</b>, en España existe lo que se conoce como
              simulador de renta.&nbsp;&nbsp;<span class="u-icon u-icon-8"><svg class="u-svg-content"
                  viewBox="0 0 98.829 98.829" x="0px" y="0px" style="width: 1em; height: 1em;">
                  <g>
                    <g>
                      <path
                        d="M96.76,41.603C91.511,22.831,78.562,9.204,65.975,9.204c-1.011,0-2.021,0.088-3.005,0.262    c-0.558,0.098-1.046,0.426-1.348,0.902c-0.301,0.479-0.386,1.061-0.233,1.605l2.591,9.268c0.25,0.895,1.113,1.5,2.01,1.459    l0.206-0.004c4.668,0,13.199,6.996,17.548,22.545c0.172,0.617,0.335,1.248,0.492,1.906c-4.882-2.416-10.706-2.975-15.98-1.506    C56.358,48.97,49.388,61.356,52.714,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.046-0.834    c7.846-2.193,13.745-8.707,16.611-18.338C99.521,61.764,99.456,51.249,96.76,41.603z">
                      </path>
                      <path
                        d="M14.088,9.206c-1.009,0-2.02,0.086-3.003,0.26c-0.557,0.096-1.046,0.426-1.347,0.902    c-0.301,0.479-0.386,1.061-0.234,1.605l2.592,9.268c0.25,0.895,1.097,1.5,2.01,1.459l0.204-0.004    c4.668,0,13.2,6.996,17.549,22.545c0.173,0.621,0.336,1.252,0.492,1.906c-4.884-2.416-10.706-2.975-15.98-1.506    C4.475,48.97-2.497,61.356,0.831,73.252c2.696,9.639,11.563,16.373,21.563,16.373c2.037,0,4.071-0.281,6.047-0.834    c7.845-2.193,13.744-8.707,16.611-18.338c2.586-8.689,2.522-19.205-0.175-28.852C39.625,22.831,26.678,9.206,14.088,9.206z">
                      </path>
                    </g>
                  </g>
                </svg><img></span>
            </p>
            <h6 class="u-text u-text-11">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                href="modelossimulacion" target="_blank">Modelos&nbsp;de&nbsp;<br>simulación
              </a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="u-body u-xl-mode">
<section class="u-align-center u-clearfix u-section-1" id="sec-143c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-default u-text-1">MODELAMIENTO Y SIMULACIÓN</h2>
    <p class="u-text u-text-default u-text-2">Acontinuacion se muestran las siguientes funciones del sistema.&nbsp;
    </p>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item" data-animation-name="pulse"
          data-animation-duration="1000" data-animation-direction="">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span
              class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-icon-1"><img src="./../static/image/148810.png"
                alt=""></span>
            <h3 class="u-align-center u-text u-text-3"> Números aleatorios</h3>
            <p class="u-align-justify u-text u-text-4"> Los&nbsp;<b>números aleatorios</b>&nbsp;permiten a los modelos
              matemáticos representar la realidad.<br>
              <br> Aquí encontraremos los siguientes métodos:<br>
              <br>
              <span style="font-weight: 700;">
                <a href="{{url_for('congruencialMultiplicativo')}}"
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-grey-90 u-btn-1"
                  target="_blank">Metodo&nbsp;congruencial&nbsp;multiplicativo.</a>
                <br>
                <a href="{{url_for('congruencialLineal')}}"
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2"
                  target="_blank">Metodo&nbsp;de&nbsp;congruencia&nbsp;lineal.</a>
                <br>
                <a href="{{url_for('cuadradosMedios')}}"
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3"
                  target="_blank">Metodo&nbsp;de&nbsp;los&nbsp;cuadrados&nbsp;medios.</a>
              </span>
              <br>
            </p>
            <a href="/numerosaleatorios"
              class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">learn
              more</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item" data-animation-name="pulse"
          data-animation-duration="1000" data-animation-direction="">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span
              class="u-icon u-icon-circle u-palette-2-light-1 u-icon-2"><svg class="u-svg-link"
                preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dde1"></use>
              </svg><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-dde1"
                style="enable-background:new 0 0 60 60;">
                <path
                  style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                  d="M50.003,27
c-0.115-8.699-7.193-16-15.919-16c-5.559,0-10.779,3.005-13.661,7.336C19.157,17.493,17.636,17,16,17c-4.418,0-8,3.582-8,8
c0,0.153,0.014,0.302,0.023,0.454C8.013,25.636,8,25.82,8,26c-3.988,1.912-7,6.457-7,11.155C1,43.67,6.33,49,12.845,49h24.507
c0.138,0,0.272-0.016,0.408-0.021C37.897,48.984,38.031,49,38.169,49h9.803C54.037,49,59,44.037,59,37.972
C59,32.601,55.106,27.961,50.003,27z"></path>
                <path
                  style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                  d="M50.003,27
c0,0-2.535-0.375-5.003,0"></path>
                <path
                  style="fill:currentColor;stroke:#7383BF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;"
                  d="M8,25c0-4.418,3.582-8,8-8
s8,3.582,8,8"></path>
              </svg>


            </span>
            <h3 class="u-align-center u-text u-text-5">Pronóstico</h3>
            <p class="u-align-justify u-text u-text-6"> El&nbsp;<b>pronóstico</b>&nbsp;es el proceso&nbsp;<b>
                <span style="font-weight: 400;">de</span></b>&nbsp;estimación en situaciones
              de&nbsp;&nbsp;incertidumbre<br>
              <br> Aquí encontraremos los siguientes métodos:<br>
              <br>&nbsp;<span style="font-weight: 700;">
                <a href="{{url_for('suavizacionExponencial')}}"
                  class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-5"
                  target="_blank">Suavización&nbsp; Exponencial</a>
              </span>
              <br>
              <a href="{{url_for('promedioMovil')}}"
                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-6"
                target="_blank">&nbsp;Promedio&nbsp;Móvil</a>
            </p>
            <a href="/modelospronosticos"
              class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-text-body-color u-btn-7">learn
              more</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item" data-animation-name="pulse"
          data-animation-duration="1000" data-animation-direction="">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span
              class="u-icon u-icon-circle u-palette-2-light-1 u-icon-3"><svg class="u-svg-link"
                preserveAspectRatio="xMidYMin slice" viewBox="0 0 53 53" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a32e"></use>
              </svg><svg class="u-svg-content" viewBox="0 0 53 53" x="0px" y="0px" id="svg-a32e"
                style="enable-background:new 0 0 53 53;">
                <rect x="27" y="28" style="fill:#424A60;" width="2" height="18"></rect>
                <rect x="37.5" y="2.893" transform="matrix(0.7071 0.7071 -0.7071 0.7071 20.8223 -23.2696)"
                  style="fill:#424A60;" width="2" height="21.213"></rect>
                <rect x="15" y="21.858" transform="matrix(0.7071 0.7071 -0.7071 0.7071 30.1421 -0.7696)"
                  style="fill:#424A60;" width="2" height="28.284"></rect>
                <rect x="10.722" y="13.5" transform="matrix(0.7071 0.7071 -0.7071 0.7071 15.6716 -8.8345)"
                  style="fill:#424A60;" width="15.556" height="2"></rect>
                <rect x="26.893" y="32.5" transform="matrix(0.7071 0.7071 -0.7071 0.7071 34.6716 -16.7046)"
                  style="fill:#424A60;" width="21.213" height="2"></rect>
                <circle style="fill:#43B05C;" cx="48" cy="5" r="5"></circle>
                <circle style="fill:#7383BF;" cx="28" cy="48" r="5"></circle>
                <circle style="fill:#57D8AB;" cx="5" cy="46" r="5"></circle>
                <circle style="fill:#D75A4A;" cx="12" cy="8" r="3"></circle>
                <circle style="fill:#EBBA16;" cx="44" cy="40" r="3"></circle>
                <circle style="fill:#4B6DAA;" cx="28" cy="24" r="7"></circle>
              </svg>


            </span>
            <h3 class="u-align-center u-text u-text-7"> Regresión</h3>
            <p class="u-align-justify u-text u-text-8"> El análisis de la&nbsp;<b>regresión</b>&nbsp;lineal se
              utiliza&nbsp;<b>para</b>&nbsp;predecir el valor de una variable según el valor de
              otra.<br>&nbsp;<br>Aquí encontraremos los siguientes métodos:<br>
              <a href="{{url_for('regresionLinealCuadrada')}}"
                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-8"
                target="_blank">
                <br>Regresión&nbsp;lineal&nbsp;cuadratica.
              </a>&nbsp;&nbsp;<br>
              <a href="{{url_for('regresionLineal')}}"
                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-9"
                target="_blank">Regresión&nbsp;lineal.</a>
              <br>
            </p>
            <a href="/regresiones"
              class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-text-body-color u-btn-10">learn
              more</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item" data-animation-name="pulse"
          data-animation-duration="1000" data-animation-direction="">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span
              class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-icon-4"><img src="./../static/image/148799.png"
                alt=""></span>
            <h3 class="u-align-center u-text u-text-9"> Simulación</h3>
            <p class="u-align-justify u-text u-text-10"> Puede definirse a la&nbsp;<b>simulación</b>&nbsp;como la
              experimentación con un modelo que imita ciertos aspectos de la realidad.<br>
              <br>&nbsp;Aquí encontraremos los siguientes métodos:<br>
              <a href="{{url_for('sistemaInventario')}}"
                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-11"
                target="_blank">
                <br>&nbsp;Sistema&nbsp;de&nbsp;&nbsp;inventario.
              </a>&nbsp;&nbsp;<br>
              <a href="/sistemaLineaEspera"
                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-12"
                target="_blank">Lineas de espera.</a>
              <br>
              <a href="{{url_for('sistemaMontecarlo')}}"
                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-13"
                target="_blank">Montecarlo.</a>
              <br>
            </p>
            <a href="/modelossimulacion"
              class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-14">learn
              more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>



{% endblock %}